* {
    box-sizing: border-box;
}
body{
    font-family: Arial;
    color: #fff;
    background: #e8e9e9;
    padding-left: 5%;
    padding-right: 5%;
}
h1 {
    color: #555;
}
h4 {
    font-weight: normal;
}
.hidden{
    display: none;
}
.modal-header {
    background-color: #27436e;
}
.btn-info {
    margin-top: 5px;
    color: #ffffff;
    background-color: #4474bf;
    border-color: transparent;
}
.flex-container {
    background: #000;
    margin: 45px auto auto 45px;
    max-width: 300px;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.3);
}
.close-btn {
    background-color: transparent;
    color: #ffffff;
    border-color: transparent;
    font-size: 16px;
}
.modal-body {
    padding: 10px;
}
.fieldset {
    display: flex;
    flex-direction: column;
    background-color: #424242;
    padding: 0;
    border: 0;
    min-width: 0;
    margin-top: 2px;
}
.legend {
    display: block;
    padding: 3px 10px;
    margin: 3px;
    color: #ebebeb;
    border: 0;
    background-color: #393939;
}
.form-group .select-form {
    flex-grow: 2;
    border-radius: 0;
    color: #fff;
    padding: 5px 10px 5px 5px;
    border: 0;
    font-size: 16px;
    border: none;
    background: #222 url("../images/br_down.png") no-repeat 104px;
    background-position: right;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.form-group .radio {
    padding: 8px 0;
}
.button-container {
    display: flex;
    align-items: center;
    flex-direction: row;/*изменение направления*/
    flex-wrap: wrap;
    justify-content: space-between;
    /*width: 400px;*/
}
.modal-header {
    padding: 7px 10px;
    display: flex;
    align-items: center;
    flex-direction: row;/*изменение направления*/
    flex-wrap: wrap;
    justify-content: space-between;
    /*width: 400px;*/
}
.form-group {
    padding: 7px;
}
.form-group label {
    flex: 0 90px;
    margin: 7px 0 0 7px;
}
.modal-header h4{
    margin: 0;
}
.flex-row{
    display: flex;
    align-content: baseline;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex-col{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}